<div class="">
    <div class="row">
        <div class="">
            <div class="">
                <div class="panel panel-default ">
                    <!--<div class="panel-heading">
                        <h3 class="panel-title">Toolbox</h3>
                    </div>-->
                    <div class="panel-body">
                        <div class="simcir">
                            <!-- paste here your circuit data -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" button-style">
            <button class="btn btn-primary " type="button" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cogs" aria-hidden="true" style="margin-right: 10px;"></i>Simulate</button>
        </div>
    </div>
</div>