.margin-to-top{
    margin: 15px;
}
.button-style{
    float: right;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 50px;
}
.grid-background{
    margin: 5px;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #e7e7e7 1px, transparent 1px), linear-gradient(to bottom, #e7e7e7 1px, transparent 1px);
}
.btn-primary{
    font-size: 20px;
}
.sim-middle-style{
    width: 900px;
    margin: auto;
}
.top-toolbox{
    margin-bottom: 10px;
}
.power-line-button-text{
    font-size: smaller;
    margin-left: 8px;
}
.margin-top-for-number-of-inputs-in-modal{
    margin-top: 10px;
}
