<div class="row">
    <div class="sim-middle-style reload-sim">
        <div class="top-toolbox">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#gridSystemModal">
                <span>-</span><i class="fa fa-bolt" aria-hidden="true"></i><span>-</span><span class="power-line-button-text">Add Power Line</span>
            </button>
        </div>
        <!--Modal-->
        <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridModalLabel">Power Line Specifications</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid bd-example-row">
                            <div class="row">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Length of the line:</span>
                                    <input type="text" class="form-control" placeholder="500" aria-describedby="basic-addon1" id="lengthFromModal">
                                </div>
                            </div>
                            <div class="row margin-top-for-number-of-inputs-in-modal">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">Number of inputs:</span>
                                    <input type="text" class="form-control" placeholder="2" aria-describedby="basic-addon1" id="numberOfInputsFromModal">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" id="place-power-line" data-dismiss="modal">Place Power Line</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end of modal-->
    <div class="simcir">
        <!-- paste here your circuit data -->
    </div>
    </div>
</div>
<div class="row sim-middle-style">
    <div class=" button-style">
        <button class="btn btn-primary " type="button" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cogs" aria-hidden="true" style="margin-right: 10px;"></i>Simulate
        </button>
    </div>
</div>

