<div class="container container_for_simulator">
    <div class="row">
        <div class="col-lg-12">
            <!--sidebar-->
            <div class="sidebar">
                <div class="panel panel-primary sidebar-panel-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title">Toolbox</h3>
                    </div>
                    <div class="panel-body sidebar_height">
                        <div class='container' [dragula]='"another-bag"' [dragulaModel]='many'>
                            <div *ngFor='let text of many' [innerHtml]='text'></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--editor-->
            <div class="editor">
                <div class="panel panel-info editor-panel-margin">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span>Simulator</span></h3>
                    </div>
                    <div class="panel-body editor_height grid-background">
                        <div class='container' [dragula]='"another-bag"' [dragulaModel]='many2'>
                            <div *ngFor='let text of many2' [innerHtml]='text'></div>
                        </div>
                        <div id="canvasInAPerfectWorld" width="490" height="220">Hello</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" button-style">
            <button class="btn btn-primary " type="button" aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cogs" aria-hidden="true" style="margin-right: 10px;"></i>Simulate</button>
        </div>
    </div>
</div>